:root {
  --normal-wght: 400;
  --light-wght: 200;
  --bold-wght: 700;
  --black-clr: #000000;
  --main-clr: #0090e4;
  --bg-clr: #c4e4f6;
  --accent-clr: #f1b900;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "IBM Plex Sans", sans-serif;
  display: grid;
  place-items: center;
  min-height: 100vh;
}
.container {
  height: 24em;
  width: calc(24em * 1.61803);
  background: var(--bg-clr);
}
.header {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 10em;
}
.cityName {
  position: absolute;
  font-size: 4em;
  padding-left: 1em;
}
.tmp {
  position: absolute;
}
